{% extends "base.html" %}
{% block header %}
    <title>CoffeeGrid</title>

    <!-- Loading Bootstrap -->
    <link href="./static/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="./static/css/flat-ui.css" rel="stylesheet">
    <link rel="shortcut icon" href="./static/images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="./static/js/html5shiv.js"></script>
    <![endif]-->
{% endblock %}

{% block content %}
    <div class="demo-headline" id="headline">
      <div class="logo">
	<canvas id="logocanvas" width="120" height="120"></canvas>
      </div>
    </div> <!-- /demo-headline -->
    
    <div class="navbar navbar-inverse" style="display: none;">
      <div class="navbar-inner">
	
	<ul class="nav">
	  <a class="brand" href="#headline" data-scroll="true">
	    <img src="./static/images/coffeegrid_logo_black.png" width=40 />
	  </a>
	  <li><a href="#what" data-scroll="true">Qué es</a></li>
	  <li><a href="#past" data-scroll="true">Eventos anteriores</a></li>
	  <li><a href="#startups" data-scroll="true">Startups</a></li>
	  <li><a href="#people" data-scroll="true">Invitados</a></li>
	  <li><a href="#friends" data-scroll="true">Amigos</a></li>
	  <li><a href="#projects" data-scroll="true">Proyectos</a></li>
	  <li><a href="#press" data-scroll="true">Prensa</a></li>
	  <li><a href="#team" data-scroll="true">Equipo</a></li>
	</ul>
      </div>
    </div>

    <div id="header" class="section">
      
    </div>

    <div class="section-title" id="title-futuro">
      <h1>Futuro</h1>
      <div class="section-title-line"></div>
      <div class="tags_clear"></div>
    </div>

    
    <div id="event" class="section">
      <div class="span3 subsection what">
	<h1>Próximo:</h1>
      </div>
      <div class="span4 subsection who">
	<h2>Quién</h2>
	<p>Startups Inscritas</p>
      </div>
      <div class="span4 subsection when">
	<h2>Cuándo</h2>
	<p>(iCal)</p>
      </div>
      <div class="span4 subsection where">
	<h2>Dónde</h2>
	<p>(Map)</p>
      </div>
      <div class="tags_clear"></div>
    </div>

    <div class="section-title" id="title-presente">
      <h1>Presente</h1>
      <div class="section-title-line"></div>
      <div class="tags_clear"></div>
    </div>


    <div class="section" id="what">
      <div class="container">
	<h1>Que es CoffeeGrid?</h1>
	<h2>Mision</h2>

	
	<h2>Historia</h2>
      </div> <!-- /container -->
    </div>

      <div class="section" id="team">
	<div class="container">
	  <h1 class="mbl"><span class="fui-man-16"></span> Equipo</h1>
	  <div class="row mbl">
	    <div class="span2 tile">
	      <img src="./static/images/people/castillo_builes.jpg" class="tile-image" />
	      <h3 class="tite-title">Sebastian Castillo</h3>
	      <p>engager.io</p>
	      <a class="btn btn-primary btn-large btn-block" href="http://twitter.com/CastilloBuiles">@CastilloBuiles</a>
	    </div>
	    <div class="span2 tile">
	      <img src="./static/images/people/manuelzs.jpg" class="tile-image" />
	      <h3 class="tite-title">Manuel Zapata</h3>
	      <p>WeLikeShopping</p>
	      <a class="btn btn-primary btn-large btn-block" href="http://twitter.com/manuelzs">@manuelzs</a>
	    </div>
	    <div class="span2 tile">
	      <img src="./static/images/people/danogutierrez.jpg" class="tile-image" />
	      <h3 class="tite-title">Daniel Gutierrez</h3>
	      <p>oficios varios</p>
	      <a class="btn btn-primary btn-large btn-block" href="http://twitter.com/tzdt">@tzdt</a>
	    </div>
	    <div class="span2 tile">
	      <img src="./static/images/people/juanpgaviria.jpg" class="tile-image" />
	      <h3 class="tite-title">Juan Pablo Gaviria</h3>
	      <p>?</p>
	      <a class="btn btn-primary btn-large btn-block" href="http://twitter.com/juanpgaviria">@juanpgaviria</a>
	    </div>
	    <div class="span2 tile">
	      <img src="./static/images/people/jorgeecardona.jpg" class="tile-image" />
	      <h3 class="tite-title">Jorge Cardona</h3>
	      <p>nuage</p>
	      <a class="btn btn-primary btn-large btn-block" href="http://twitter.com/jorgeecardona">@JorgeECardona</a>
	    </div>
	    
	  </div> <!-- /row -->
	</div> <!-- /container -->
      </div>

      <div class="section dark" id="startups">
	<div class="container">
	  <h1 class="mbl"><span class="fui-bubble-16"></span> Que Startups participan? (Partir en Active, Pivoted, Failed)</h1>
	  <div class="row mbl">
	    <div class="span2 tile palette-carrot"><h3 class="tile-title">Mi carga</h3></div>
	    <div class="span2 tile"><h3 class="tile-title">Giive</h3></div>
	    <div class="span2 tile"><h3 class="tile-title">Engager</h3></div>
	    <div class="span2 tile"><h3 class="tile-title">Webstripe</h3></div>
	    <div class="span2 tile"><h3 class="tile-title">Juan regala</h3></div>
	  </div>
	  <div class="row mbl">
	    <div class="span2 tile"><h3 class="tile-title">Nuage</h3></div>
	    <div class="span2 tile"><h3 class="tile-title">CoffeeGrid</h3></div>
	    <div class="span2 tile"><h3 class="tile-title">Ubidots</h3></div>
	    <div class="span2 tile"><h3 class="tile-title">Epicentro</h3></div>
	    <div class="span2 tile"><h3 class="tile-title">Bolsa en red</h3></div>
	  </div>
	  <div class="row mbl">
	    <div class="span2 tile"><h3 class="tile-title">Make it personal</h3></div>
	    <div class="span2 tile"><h3 class="tile-title">BeBetr</h3></div>
	    <div class="span2 tile"><h3 class="tile-title">Pablo Alvarez</h3></div>
	    <div class="span2 tile"><h3 class="tile-title">Amigo dano nyc</h3></div>
	    <div class="span2 tile"><h3 class="tile-title">Ponga su empresa aqui ! =&gt; nos vemos el miercoles.</h3></div>
	  </div>
	</div>
      </div>

    <div class="section-title" id="title-pasado">
      <h1>Pasado</h1>
      <div class="section-title-line"></div>
      <div class="tags_clear"></div>
    </div>

    <div class="section dark" id="past">
      <div class="container">
	<h1>Eventos anteriores (fotos)</h1>
	<h2>Presentadores invitados</h2>
	<ul>
	  <li>01 - Intro, Sept 2010, UPB</li>
	  <li>02 - Downtown, Enero 2011</li>
	  <li>03 - Downtown, Marzo 2011</li>
	  <li>04 - Mesas, Caneco, Mayo 2011</li>
	  <li>4.5 - Compuredes, Mayo 2011</li>
	  <li>05 - DownTown, Agosto 2011, billie tobon</li>
	</ul>

	<h2>Mesas redondas</h2>
	<ul>
	  <li>06 - Caneco, Sep 2011??</li>
	  <li>07 - Caneco, Diciembre 2011 (jugaremos en el bosque)</li>
	  <li>08 - Caneco, Febrero 2012 (Medellin se conecta con sillicon valley)</li>
	  <li>09 - Caneco, Nick Aldrige (Cogi) (Demo day)</li>
	  <li>10 - Caneco, Abril 2012</li>
	</ul>

	<h2>Emprendedores Locales</h2>
	<ul>
	  <li>11 - Dry martini, Junio 2012</li>
	  <li>12 - Dry martini, Julio 2012</li>
	  <li>13 - Pergamino, Septiembre 2012</li>
	  <li>14 - Pergamino, Oct 2012</li>
	</ul>
	
	<h2>Presi&oacute;n de Grupo</h2>
	<ul>
	  <li>15 - Tal cual, Enero 2013</li>
	  <li>16 - Epicentro, Febrero 2013</li>
	</ul>
      </div> <!-- /container -->
    </div>



      <div class="section" id="people">
	<div class="container">
	  <h1 class="mbl"><span class="fui-man-16"></span> Algunos invitados</h1>

	  <div class="page" id="page1">
	    <div class="row mbl">
	    <div class="tile span2">
	      <img src="./static/images/people/rabble.jpg" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">Evan Henshaw</h3>
	      <p>Cubox</p>
	      <a class="btn btn-primary btn-large btn-block" href="http://twitter.com/rabble">@rabble</a>
	    </div>
	    <div class="tile span2">
	      <img src="./static/images/people/ashwinnavin.jpeg" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">Ashwin Navin</h3>
	      <p>ioventures, bittorrent, flingo.tv</p>
	      <a class="btn btn-primary btn-large btn-block" href="http://twitter.com/ashwinnavin">@ashwinnavin</a>
	    </div>
	    <div class="tile span2">
	      <img src="./static/images/people/tamccann.jpg" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">TA McCann</h3>
	      <p>Blackberry, Gist</p>
	      <a class="btn btn-primary btn-large btn-block" href="http://twitter.com/tamccann">@tamccann</a>
	    </div>
	    <div class="tile span2">
	      <img src="./static/images/people/bowei.jpeg" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">Bowei Gai</h3>
	      <p>world startup report, CardMunch</p>
	      <a class="btn btn-primary btn-large btn-block" href="http://twitter.com/bowei">@bowei</a>
	    </div>
	    <div class="tile span2">
	      <img src="./static/images/people/rafa_alvarez.jpg" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">Rafa Alvarez</h3>
	      <p>Fluidsignal Group</p>
	    </div>
	  </div><!-- row -->
	  
	  <div class="row">
	    <div class="tile span2">
	      <img src="./static/images/people/eecheverri.jpeg" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">Elkin Echeverri</h3>
	      <p>Compuredes, RutaN</p>
	      <a class="btn btn-primary btn-large btn-block" href="http://twitter.com/eecheverri">@eecheverri</a>
	    </div>
	    <div class="tile span2">
	      <img src="./static/images/people/joabarrera.jpg" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">Jorge Barrera</h3>
	      <p>MIT Enterprise Forum</p>
	      <a class="btn btn-primary btn-large btn-block" href="http://twitter.com/joabarrera">@joabarrera</a>
	    </div>
	    <div class="tile span2">
	      <img src="./static/images/people/jlalinde.jpg" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">Juan Guillermo Lalinde</h3>
	      <p>EAFIT</p>
	      <a class="btn btn-primary btn-large btn-block" href="http://twitter.com/jlalinde">@jlalinde</a>
	    </div>
	    <div class="tile span2">
	      <img src="./static/images/people/MariaChoucair.jpg" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">Maria Clara Choucair</h3>
	      <p>Choucair</p>
	      <a class="btn btn-primary btn-large btn-block" href="http://twitter.com/MariaChoucair">@MariaChoucair</a>
	    </div>
	    <div class="tile span2">
	      <img src="./static/images/people/jfescob1.jpeg" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">John Fredy Escobar</h3>
	      <p>Technoparque</p>
	      <a class="btn btn-primary btn-large btn-block" href="http://twitter.com/jfescob1">@jfescob1</a>
	    </div>
	  </div><!-- row -->
	  </div><!-- page -->
	  	  
	  <div class="page hide" id="page2">
	  <div class="row">
	    <div class="tile span2">
	      <img src="./static/images/people/ivan_orozco.jpg" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">Ivan Orizco</h3>
	      <p>Compuredes</p>
	    </div>
	    <div class="tile span2">
	      <img src="./static/images/people/fede2001.jpg" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">Federico Lopez</h3>
	      <p>Subterraqueo</p>
	      <a class="btn btn-primary btn-large btn-block" href="http://twitter.com/fede2001">@fede2001</a>
	    </div>
	    <div class="tile span2">
	      <img src="./static/images/people/febuiles.png" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">Federico Builes</h3>
	      <p>micarga</p>
	      <a class="btn btn-primary btn-large btn-block" href="http://twitter.com/febuiles">@febuiles</a>
	    </div>
	    <div class="tile span2">
	      <img src="./static/images/people/manuel_velez.jpg" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">Manuel Velez</h3>
	      <p>MiCarga</p>
	      <a class="btn btn-primary btn-large btn-block" href="http://twitter.com/manuel_velez">@manuel_velez</a>
	    </div>
	    <div class="tile span2">
	      <img src="./static/images/people/BillyTobon.png" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">Billy Tobon</h3>
	    </div>
	  </div><!-- row -->
	  
	  <div class="row">
	    <div class="tile span2">
	      <img src="./static/images/people/sergio_marin.jpg" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">Sergio A. Marin</h3>
	      <p>Netux</p>
	      <a class="btn btn-primary btn-large btn-block" href="http://twitter.com/BillyTobon">@BillyTobon</a>
	    </div>
	    <div class="tile span2">
	      <img src="./static/images/people/abuiles.jpeg" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">Adolfo Builes</h3>
	      <p>Engager</p>
	      <a class="btn btn-primary btn-large btn-block" href="http://twitter.com/abuiles">@abuiles</a>
	    </div>
	    <div class="tile span2">
	      <img src="./static/images/people/sergio_ovalle.jpg" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">Sergio Ovalle</h3>
	    </div>
	    <div class="tile span2">
	      <img src="./static/images/people/camilogomez.jpeg" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">Camilo Gomez</h3>
	      <p>C2Studios</p>
	    </div>
	    <div class="tile span2">
	      <img src="./static/images/people/dario_palacio.jpg" alt class="tile-image mbs mts" />
	      <h3 class="tile-title">Dario Palacio</h3>
	    </div>
	  </div><!-- row -->
	  </div><!-- page -->
	
	  <div class="page hide" id="page3">
	    <div class="row">
	      <div class="tile span2">
		<h3 class="tile-title">Camilo Restrepo</h3>
		<p>Angeles Inversionistas</p>
	      </div>
	      <div class="tile span2">
		<h3 class="tile-title">Juan chascarrillo</h3>
		<p>Do&ntilde;a gloria</p>
	      </div>
	      <div class="tile span2">
		<h3 class="tile-title">Sebastian Hoyos</h3>
	      </div>
	      <div class="tile span2">  
		<h3>Nick Aldrige</h3>
		<p>Cogi</p>
	      </div>
	      <div class="tile span2">
		<h3>Alejandro Velez</h3>
	      </div>
	    </div><!-- row -->
	
	    <div class="row">
	      <div class="tile span2">
		<h3>David Aristizabal</h3>
	      </div>
	      <div class="tile span2">
		<h3>Omar Gomez</h3>
	      </div>
	      <div class="tile span2">
		<h3>Tuyo Isaza</h3>
	      </div>
	      <div class="tile span2">
		<h3>Natalia Vivas</h3>
	      </div>
	      <div class="tile span2">
		<h3>Jose Betancur</h3>
	      </div>
	      <div class="tile span2">
		<h3>Santiago Zavala</h3><p>MexicanVC, 500 Startups</p>
	      </div>
	    </div><!-- row -->
	  </div><!-- page -->
	 



	  <div class="pagination pagination-centered">
            <ul>
              <li class="previous"><a href="#"><img src="./static/images/pager/previous.png"></a></li>
              <li id="nav-page1" class="pager-number active"><a href="#">1</a></li>
              <li id="nav-page2" class="pager-number"><a href="#">2</a></li>
              <li id="nav-page3" class="pager-number"><a href="#">3</a></li>
              <li class="next"><a href="#"><img src="./static/images/pager/next.png"></a></li>
            </ul>
          </div>



	</div><!-- container -->
      </div><!-- section -->

      <div class="section dark" id="friends">
	<div class="container">
	  <h1 class="mbl"><span class="fui-heart-16"></span> Amigos de CoffeeGrid</h1>

	
	  <h2>Organizaciones</h2>
	  <div class="row mbl">
	    <div class="span3">
              <img class="tile-image" alt="" src="./static/images/logos/epicentro.jpg">
              <h3 class="tile-title"><a href="#">Epicentro</a></h3>
	    </div>
	    <div class="span3">
              <img class="tile-image" alt="" src="./static/images/logos/upb.gif">
              <h3 class="tile-title"><a href="#">UPB</a></h3>
	    </div>
	    <div class="span3">
              <img class="tile-image" alt="" src="./static/images/logos/eafit.jpg">
              <h3 class="tile-title"><a href="#">EAFIT</a></h3>
	    </div>
	    <div class="span3">
              <img class="tile-image" alt="" src="./static/images/illustrations/infinity.png">
              <h3 class="tile-title"><a href="#">Compuredes</a></h3>
	    </div>
	    <div class="span3">
              <img class="tile-image img-circle" alt="" src="./static/images/logos/rutan.jpg">
              <h3 class="tile-title"><a href="#">RutaN</a></h3>
	    </div>
	    <div class="span3">
              <img class="tile-image" alt="" src="./static/images/logos/mintic.png">
              <h3 class="tile-title"><a href="#">MinTIC</a></h3>
	    </div>
	    <div class="span3">
              <img class="tile-image" alt="" src="./static/images/logos/mitef.png">
              <h3 class="tile-title"><a href="#">MIT EF</a></h3>
	    </div>
	  </div>
	  
	  
	  <h2>Lugares</h2>
	  <div class="row mbl">
	    <div class="span3">
              <img class="tile-image" alt="" src="./static/images/logos/pergamino.gif">
              <h3 class="tile-title"><a href="#">Pergamino</a></h3>
	    </div>
	    
	    <div class="span3">
              <img class="tile-image" alt="" src="./static/images/logos/drymartini.jpg">
              <h3 class="tile-title"><a href="#">Dry Martini</a></h3>
	    </div>
	    
	    <div class="span3">
              <img class="tile-image" alt="" src="./static/images/logos/talcual.jpg">
              <h3 class="tile-title"><a href="#">Tal Cual Cafe Arte</a></h3>
	    </div>
	    
	    <div class="span3">
              <img class="tile-image" alt="" src="./static/images/illustrations/infinity.png">
              <h3 class="tile-title"><a href="#">Parque del Poblado</a></h3>
	    </div>
	  </div>

	</div>
      </div>

      <div class="section" id="projects">
	    <div class="container">
	      <h1 class="mbl"><span class="fui-plus-16"></span> Otros Proyectos</h1>
	      <div class="row">
		<div class="span3">
		  <img src="./static/images/logos/startup_weekend.png" class="tile-image" />
		  <h3 class="tile-title">
		    <a href="http://medellin.startupweekend.org/">Startup Weekend</a>
		  </h3>
		  <p>Proyecto para organizar un Startup Weekend en Medellin el cual se logro con la ayuda de RutaN</p>
		  <p>Google Bootcamp, 2 junio 2012</p>
		  <p>Startup Weekend 8-10 junio 2012</p>
		</div>
		<div class="span3">
		  <img src="./static/images/logos/tedxmedellin.png" class="tile-image" />
		  <h3 class="tile-title">
		    <a href="#">TEDxMedellin</a>
		  </h3>
		  <p>Colaboracion como voluntarios de la organizacion de TEDxMedellin 2012</p>
		  <p>TEDx, Junio 2011</p>
		  <p>TED women, Dic 2010</p>
		</div>
	      <div class="span3">
		<img src="./static/images/logos/devmed.png" class="tile-image" />
		<h3 class="tile-title">
		  <a href="#">/dev/med</a>
		</h3>
		<p>Spin Off de CoffeGrid para desarrolladores.</p>
		<p>/dev/med/ agosto 15,</p>
		<p>/dev/med/ sept 13,</p>
		<p>/dev/med/, Oct 10 2012</p>
	      </div>
	      <div class="span3">
		<img src="./static/images/logos/hackandlearn.png" class="tile-image" />
		<h3 class="tile-title">
		  <a href="http://hack.engager.io">Hack & Learn</a>
		</h3>
		<p>Hackathon with a Twist organizada por engager.io</p>
	      </div>
	    </div>
	  </div>
	</div>
	</div>
      
      <div class="section dark" id="press">
	<div class="container">
	<h1 class="mbl"><span class="fui-video-16"></span> Prensa</h1>
	<div class="row mbl">
	  <div class="span4">
	    <a href="http://www.elespectador.com/tecnologia/articulo-402460-un-cafe-de-ideas">
	      <img src="./static/images/press/logo_el_espectador.jpg" />
	    </a>
	  </div>
	  <div class="span4 mtl" style="display: none;">
	    <a href="#">
	      <img src="./static/images/press/logo_el_colombiano.gif" />
	    </a>
	  </div>
	  <div class="span4">
	    <a href="http://pulsosocial.com/2013/03/20/coffeegrid-del-cafe-a-las-ideas-hasta-llegar-a-lamentoria/">
	      <img src="./static/images/press/logo_pulso_social.png" />
	    </a>
	  </div>
	</div>
	<div class="row mtl mbl">
	  <div class="span4">
	    <p class="prl pll">&laquo; Con el propósito de conversar sobre tendencias tecnológicas y emprendimiento, un grupo de amigos de Medellín creó el Coffeegrid, una reunión mensual que convoca a los interesados en estos temas. &raquo;</p>
	    <a class="mll" href="http://www.elespectador.com/tecnologia/articulo-402460-un-cafe-de-ideas">Ver m&aacute;s</a>
	  </div>
	  <div class="span4" style="display: none;">
	    <p class="prl pll">TODO</p>
	    <a class="mll" href="#">Ver m&aacute;s</a>
	  </div>
	  <div class="span4">
	    <p class="prl pll">&laquo; Siempre que se escucha sobre emprendimiento se habla de encontrar soluciones creativas a problemas conocidos. Esa parece ser la idea de Coffeegrid, un espacio itinerante que propone encuentros de socialización en torno a la innovación, el emprendimiento y la tecnología y que ha creado una especie de auto-aceleradora ante la incipiente oferta de recursos, mentoría y aceleración que existe en Medellín. &raquo;</p>
	    <a class="mll" href="http://pulsosocial.com/2013/03/20/coffeegrid-del-cafe-a-las-ideas-hasta-llegar-a-lamentoria/">Ver m&aacute;s</a>
	  </div>
	</div>
	</div>
      </div>
      
      

      <footer>
	<div class="container">
          <div class="row">
            <div class="span7">
	      <h3>CoffeeGrid</h3>
	      <p>La mejor forma de contactar a CoffeeGrid es venir a uno. Si le queda dificil, Twitter o Facebook; y por si a caso, info@coffeegrid.org</p>
            </div> <!-- /span8 -->
            <div class="span5">
            <div class="footer-banner">
              <h3 class="footer-title">Contacto</h3>
              <ul>
                <li><a href="http://twitter.com/coffeegrid" style="text-decoration: none;"><img src="./static/images/icons/ic_share_twitter.png" />&nbsp;&nbsp;@CoffeeGrid</a></li>
                <li><a href="http://twitter.com/coffeegrid" style="text-decoration: none;"><img src="./static/images/icons/ic_share_facebook.png" />&nbsp;&nbsp;CG en Facebook</a></li>
              </ul>
            </div>
            </div>
	  </div>
	  <div class="container">
      </footer>

    <!-- Load JS here for greater good =============================-->
    <script src="./static/js/jquery-1.8.2.min.js"></script>
    <script src="./static/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="./static/js/jquery.dropkick-1.0.0.js"></script>
    <script src="./static/js/custom_checkbox_and_radio.js"></script>
    <script src="./static/js/custom_radio.js"></script>
    <script src="./static/js/jquery.tagsinput.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
    <script src="./static/js/bootstrap-tooltip.js"></script>
    <script src="./static/js/jquery.placeholder.js"></script>
    <script src="./static/js/jquery.spasticNav.js"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="./static/js/application.js"></script>
    <script src="./static/js/processing-1.4.1.min.js"></script>
    <script src="./static/js/logo.js"></script>
    <!--[if lt IE 8]>
      <script src="./static/js/icon-font-ie7.js"></script>
      <script src="./static/js/icon-font-ie7-24.js"></script>
    <![endif]-->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try{
        var pageTracker = _gat._getTracker("");
        pageTracker._trackPageview();
        } catch(err) {}
    </script>

{% endblock %}
