<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico"> 
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/style.css">

	{% block header %}
	<title>Welcome</title>
	{% endblock %}

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="100">
	{% block content %}
	Main content
	{% endblock %}

	{% block scripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}/js/main.js"></script>
	{% endblock %}
</body>
</html>
